{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Crime Prevention System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <meta name="keywords" content="Crime Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Custom Theme files -->
    <link href="{%static 'css/bootstrap.min.css' %}" type="text/css" rel="stylesheet" media="all">
    <link href="{%static 'css/style.css' %}" type="text/css" rel="stylesheet" media="all">
    <!-- font-awesome icons -->
    <link href="{%static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <!-- //Custom Theme files -->
    <!-- online-fonts -->
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i"
        rel="stylesheet">
    <style>
        table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}


    </style>
</head>

<body>
    <!-- header -->
    <header>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light p-0">
                    <h1><a class="navbar-brand" href="policehome">C.P.S

                        </a></h1>
                    <button class="navbar-toggler ml-lg-auto ml-sm-5 bg-light" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="ml-lg-5 navbar-nav mr-lg-auto">
                            <li class="nav-item mr-lg-4 mt-lg-0 mt-sm-4 mt-3">
                                <a href="policehome">Home</a>
                            </li>
                            <li class="nav-item  active dropdown mr-lg-4 my-lg-0 my-sm-4 my-3">
                                <a href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    Complaints
                                </a>
                            </li>
                           
                        </ul>
                            <ul>
                                <li class="nav-item dropdown mr-lg-4 my-lg-0 my-sm-4 my-3 text-uppercase font-weight-bold d-block">{{bn}} Branch</li>
                            </ul>
                            <button type="button" class="btn w3ls-btn text-uppercase font-weight-bold d-block" data-toggle="modal"
                            aria-pressed="false">
                                <a href="Run_Here" style="color: black;">Logout</a>
                        </button>
                    </div>
                </nav>
        </div>
    </header>
    <!-- //header -->
    <div class="inner-banner-w3ls">
    </div>
    <!-- breadcrumbs -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb d-flex justify-content-center bg-theme">
            <li class="breadcrumb-item">
                <a href="policehome" class="text-white">Home</a>
            </li>
            <li class="breadcrumb-item active text-white font-weight-bold" aria-current="page">Complaint</li>
        </ol>
    </nav>
    <!-- //breadcrumbs -->
    <!-- contact -->
    <section class="contact-w3pvt py-lg-5">
           <form action="addcrime" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="uid" value="{{bn}}">
            <input type="hidden" name="uname" value="<%=bname%>">
        <div class="container py-md-5">
            <div class="row">
                <div class="col-12 mx-auto">
                    <!-- register form grid -->
                    <div class="register-top1 py-lg-3">
                        <div class="title-sec-w3layouts_pvt text-center">
                            <h4 class="w3layouts_pvt-head">Add Criminal Details</h4>
                        </div>
                       <!--enctype="multipart/form-data"-->
                      
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>
                                            Criminal First name
                                        </label>
                                        <input class="form-control" type="text" placeholder="First Name" name="firstname"
                                            required="">
                                    </div>
                                    <div class="col-md-6 mt-md-0 mt-4">
                                        <label>
                                            Criminal Last name (optional)
                                        </label>
                                        <input class="form-control" type="text" placeholder="Last Name" name="lastname" >
                                    </div>
                                </div>
                            </div>
                             <div class="form-group">
                               
                                    <div class="col-md-12 mt-md-0 mt-4">
                                        <label>
                                            Criminal Area
                                        </label>
                                        <input class="form-control" type="text" placeholder="Criminal Area" name="carea" required="">
                                    </div>
                                </div>
                            
                            <div class="form-group">
                               
                                    <div class="col-md-12 mt-md-0 mt-4">
                                        <label>
                                           Criminal Type
                                        </label>
                                        <input class="form-control" type="text" placeholder="Criminal Type " name="ctype" required="">
                                    </div>
                                </div>
                             <div class="form-group">
                               
                                    <div class="col-md-12 mt-md-0 mt-4">
                                        <label>
                                            Criminal's Image
                                        </label>
                                        <input class="form-control" type="file" name="image" required="">
                                    </div>
                                </div>
                            
                            </div>
                           
                            <div class="row mt-3">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-agile btn-block w-100 font-weight-bold text-uppercase bg-theme">Submit</button>
                                </div>

                </div>
                    </div>
                    <!--  //register form grid ends here -->
                    <div class="border-pos-wthree border-exp"></div>
                </div>
            </div>
        </form>
    </section>
    <div class="cpy-right text-center py-4">
        <p class="text-dark">© 2021 Crime. All rights reserved | Design by Fritz-dale kechia
          
        </p>
    </div>
    <!-- js -->
    <script src="{%static 'js/jquery-2.2.3.min.js' %}"></script>
    <!-- script for password match -->
    <script>
        window.onload = function () {
            document.getElementById("password1").onchange = validatePassword;
            document.getElementById("password2").onchange = validatePassword;
        }

        function validatePassword() {
            var pass2 = document.getElementById("password2").value;
            var pass1 = document.getElementById("password1").value;
            if (pass1 != pass2)
                document.getElementById("password2").setCustomValidity("Passwords Don't Match");
            else
                document.getElementById("password2").setCustomValidity('');
            //empty string means no validation error
        }
    </script>
    <!-- script for password match -->
    <script src="{%static 'js/move-top.js' %}"></script>
    <script src="{%static 'js/easing.js' %}"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();

                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- //end-smooth-scrolling -->
    <!-- smooth-scrolling-of-move-up -->
    <script>
        $(document).ready(function () {
            /*
            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear' 
            };
            */

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <script src="{%static 'js/SmoothScroll.min.js' %}"></script>
    <!-- //smooth-scrolling-of-move-up -->
    <!-- Bootstrap core JavaScript
================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{%static 'js/bootstrap.min.js' %}"></script>
</body>

</html>